.para {
    color: blueviolet;
}
.list {
    border: "1px soild black";
}
.box {
    color: blueviolet;
    background-color: blueviolet;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 500;
    top: 400;
}